@page "/Account/Manage/ExternalLogins"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using static SunScape.Components.Account.Pages.Login

@rendermode InteractiveServer

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IUserStore<ApplicationUser> UserStore
@inject IdentityRedirectManager RedirectManager
@inject NavigationManager NavigationManager


<PageTitle>@Localizer["Manage your external logins"]</PageTitle>

<StatusMessage />
@if (currentLogins?.Count > 0)
{
    <EditForm Model="@this" OnValidSubmit="@OnSubmit" FormName="ExternalLogins" Enhance method="post">
        <h3>@Localizer["Registered Providers"]</h3>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>@Localizer["Name"]</th>
                    <th>Display Name</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var provider in currentLogins)
                {
                    <tr>
                        <td><img src="@($"/icons/acount/icon-{provider.LoginInfo.LoginProvider.ToLower()}.png")" style="max-width:33px; max-height:33px" /></td>
                        <td>@provider.LoginInfo.LoginProvider</td>
                        <td>@provider.LoginInfo.ProviderDisplayName</td>
                        <td>
                            <InputCheckbox @bind-Value="provider.IsSelected" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-danger">@Localizer["Delete Selected"]</button>
    </EditForm>
}
else
{
    <span>loading...</span>
}
@if (otherLogins?.Count > 0)
{
    <h4>@Localizer["Add another provider to log in."]</h4>
    <hr />
    @foreach (var provider in externalLogins)
    {
        <a href="@($"/Account/Manage/LinkExternalLogin?provider={Uri.EscapeDataString(provider.Name)}&returnUrl={Uri.EscapeDataString(ReturnUrl)}")" class="btn">
            <img src=@provider.IconPath title="@(Localizer["link external login provider {0}", provider.DisplayName])" style="max-width:33px; max-height:33px" /> @provider.DisplayName
        </a>
    }
}